/* .dark-modal {
    background-color: #000;
    color: #fff;
 }

.dark-modal .modal-content {
    background-color: #000;
    border-color: #fff;
    color: #fff;
 }

.dark-control {
    background-color: #000 !important;
    color: #fff !important;
}

.dark-control:focus, .dark-control:hover {
    background-color: #000;
    color: #fff;
} */